<a href="https://colab.research.google.com/github/tec03/ParaAssignment01-/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science
## Module 1 - Python Basics
### First Program

In [1]:
print('Hello Python 101')

Hello Python 101

### Types
 Integer: it could be negative or positives

 Float: we can use decimals
 
 str 

 boolean: True or False

 1. We can see the type using type()
 2. You can change the type of the expression in Python, this is called type casting. 
 3. If we cast a Boolean true to an integer or float, we will get a 1. 
 4. If we cast a Boolean false to an integer or float, we get a zero. 
 5. If you cast a 1 to a Boolean, you get a true.
 6. Similarly, if you cast a 0 to a Boolean, you get a false.

In [4]:
float(2)
int(1.1)
str(1)
int(True)
bool(1)
bool(0)

False

### Expressions and Variables

In [9]:
print (25-5)
print (25*5)
print (25/5)
print(25//5)
print(2*60+30)
print(30+2*60)
print((30+2)*60)

20
125
5.0
5
150
150
1920

### Variables
We will use a colon do denote the value of the variable.
We can assign a new value to my_variable using the assignment operator.
We can store the results of expressions
It's good practice to use meaningful variable names, so you don't have to keep track of what the variable is doing.

In [15]:
x=(43+60+16+41)
print (x)
y=x/60
print(y)
x=x/60
print(x)
total_min = 43+42
total_hr = total_min / 60
print(total_hr)

160
2.6666666666666665
2.6666666666666665
1.4166666666666667

### String Operations

1. A string is a sequence of characters. 
2. A string is contained within two quotes.
3. You could also use single quotes. 
4. A string can be spaces, or digits.
5. A string can also be special characters. 
5. We can bind or assign a string to another variable.
6. We can think the string is an ordered sequence, each element in the sequence can be accessed using an index (array)
7. We can also use negative indexing with strings
8. We can treat the string as a sequence and perform sequence operations.
9. We can also input a stride value as follows. The 2 indicates we select every second variable.
10. We can also incorporate slicing.
11. len command to obtain the length of the 
12. We can concatenate or combine strings. We use the addition symbols.
13. We can replicate values of a string. We simply multiply the string by the number

In [50]:
print("Michael Jackson")
print('Michael Jackson')
print("1  2  3")
name="Michael Jackson"
print(name[0])
print(name[1])
print(name[-15])
print(name[0:4])
print(name[8:12])
print(name[::2])
print(name[0:5:2])
print(len(name))
statement = name + " is the best"
print(statement)
print(3*statement)
name = name + " is the best"
print(name)
Numbers = "0123456"
print(Numbers[::6])

Michael Jackson
Michael Jackson
1  2  3
M
i
M
Mich
Jack
McalJcsn
Mca
15
Michael Jackson is the best
Michael Jackson is the bestMichael Jackson is the bestMichael Jackson is the best
Michael Jackson is the best
06

14. Strings are immutable.
15. Backslashes represent the beginning of escape sequences.
16. backslashes \n enter
17. backslashes \t 
18. If you want to place a backslash in your string, use a double backslash.

In [32]:
print("Michael Jackson \n is the best")
print("Michael Jackson \t is the best")
print("Michael Jackson \\ is the best")

Michael Jackson
 is the best
Michael Jackson 	 is the best
Michael Jackson \ is the best

### String Methods
When we apply a method to the string "A”, we get a new string “B" that is different from "A".

#### Method upper
This method converts lower case characters to upper case characters.
#### Method replace
The method replaces a segment of the string, i.e., a substring with a new string.
#### Method find
Finds sub-strings. The argument is the sub-string you would like to find. The output is the first index of the sequence.

In [52]:
A= "Thrileer is the sixth studio album"
print(A.upper())
Name="Michael Jackson"
B=name.replace('Michael','Janet')
print(B)
Name.find('Jack')
name='Lizz'
print(name[0:2])

THRILEER IS THE SIXTH STUDIO ALBUM
Janet Jackson is the best
Li

In [55]:
print(3+2*2)
var = '01234567'
print(var[::2])
print('1'+'2')

7
0246
12